include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include xhr *.css
recursive-include xhr *.csv
recursive-include xhr *.html
recursive-include xhr *.ico
recursive-include xhr *.js
recursive-include xhr *.json
recursive-include xhr *.md
recursive-include xhr *.png
recursive-include xhr *.py
recursive-include xhr *.svg
recursive-include xhr *.txt
recursive-exclude xhr *.pyc